<%= content_for :content do %>
  <h1>Healthplans & <%=t(:medtogether_vermont) %></h1>
  <p>This page is under construction. Check back with us soon, or call us at <%= t(:medtogethervt_support_phone_number) %> or email us at <%= mail_to t(:medtogethervt_info_email) %>.</p>
<% end %>