<%= content_for :content do %>
  <h1>What is MTM?</h1>
  <p>
    Quite simply, MTM is the process of pharmacy-based interventions (including, but not limited to, therapy review and
    reconciliation, as well as patient engagement and education). MTM strives to assure a patient’s therapy is the
    appropriate therapy through clinical assessment and evaluation and assists the patient to attain adherence through
    personal counseling and education.
  </p>
  <p>
    For some MTM interventions (such as a tablet splitting opportunity that can help a patient with medication
    cost-effectiveness), the patient need not be present for the pharmacist to conduct that intervention.  While others
    (such as a Comprehensive Medication Review), the patient and the pharmacist meet to conduct an in-depth review of
    all the patient’s medications.  Throughout the MTM process, patients’ physicians are kept in communication with
    findings and suggestions. When necessary, approval for a prescription modification, addition or deletion is
    communicated with electronic processes and documentation between the pharmacy, the physician  and the patient’s
    health plan.
  </p>
  <p>
    With the aging population and rise in chronic disease, MTM is an important solution to many of the challenges facing
    the health care system today: the Center for Medicare & Medicaid has new requirements mandating MTM programs;
    pharmacies around the country are building new “mini-clinics” and counseling stations to advance personalized
    clinical care in their stores; and perhaps most importantly, studies have shown that pharmacists are the most
    trusted member of a patient’s health care team.
  </p>
  <p>
    MedTogether acknowledges that Pharmacists have a unique expertise and relationship with their patients.  We aim to
    leverage those opportunities to advance the quality of care in the state of Vermont. Whether you are a patient, a
    pharmacist, a physician, a plan or a policy maker/administrator we invite you to join us as we roll out this
    exciting new program.
  </p>
  <p>Please contact us at any time.  We look forward to hearing from you.</p>
<% end %>
