// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application';

$nav_bar_background : #087593;
$standard_nav_button_width: 145px;
$standard_nav_button_height: 60px;

$standard_font_size         : 15px;
$standard_text_color        : #444444;
$standard_font_family       : Helvetica,Arial,sans-serif;
$standard_line_height       : 1.4em;
$standard_width             : 900px;

$footer_background_color    : #122C36;
$footer_height              : 123px;
$footer_font_size           : 14px;
$footer_padding             : 3em;

body {
  background-color: white;
}
a {
  color: #22849F;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

// navigation
.nav-bar {
  background-image: url(image_path('bg-body.png'));
}
.nav-bar ul.nav {
  width: ($standard_nav_button_width + 4px) * 8 ;
  margin-right: auto;
  margin-left: auto;
}
.nav-bar li {
  display: inline-block;
  height: $standard_nav_button_height;
  width: $standard_nav_button_width;
}
.nav-bar .nav li a {
  display: block;
  color: white;
  font-size: 20px;
  height: $standard_nav_button_height;
  line-height: $standard_nav_button_height;
  margin-bottom: auto;
  margin-top: auto;
  width: $standard_nav_button_width;
  text-align: center;
  text-decoration: none;
}
div.content {
  @include horizontal-center-block;

  color: $standard_text_color;
  font-family: $standard_font_family;
  font-size: $standard_font_size;
  line-height: $standard_line_height;
  width: $standard_width;
  margin-bottom: 2em;

  h1, h2, h3 {
    color: #023D4D;
    font-family: 'Conv_HelveticaBold';
    font-weight: normal;
    margin-bottom: $standard_font_size;
  }
  h1 {
    font-size: $standard_font_size + (4 * 2px);
  }
  p {
    margin-bottom: $standard_font_size / 2;
  }
}
.footer {
  background-color: $footer_background_color;
  color: white;
  font-family: $standard_font_family;
  font-size: $footer_font_size;
  padding-bottom: $footer_padding;
  padding-top: $footer_padding;

  p {
    @include horizontal-center-block;
    margin-bottom: $footer_font_size / 2;
  }

  .support {
    width: 29em;
  }

  .copyright {
    width: 23em;
  }
}
