<p class="support"><span style="font-weight: bold">Support & Sales:</span> <%= t(:medtogethervt_support_phone_number) %> or <%= t(:medtogethervt_info_email) %></p>
<p class="copyright"><%= t(:copyright_msg)%></p>
