<div class="nav_bar">
  <ul class="nav">
    <li>
      <%= link_to 'Welcome', static_pages_welcome_path, class: active_option('welcome') %>
    </li>
    <li>
      <%= link_to 'Contact Us', static_pages_contact_path, class: active_option('contact') %>
    </li>
  </ul>
</div>
